@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Alata;
  src: url(../fonts/Alata/Alata-Regular.ttf);
}

@font-face {
  font-family: Josephin;
  src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

header {
  background-image: url(../images/mobile/hero-mobile.jpg);
} 

@media (min-width: 640px) {
  header {
    background-image: url(../images/desktop/hero-desktop.jpg);
  }
  
}

html, body {
  margin: 0 auto;
}
